<fhheader title="FeedHenry" subtext="SAP Test"></fhheader>

<section id="example">
    <div id="formWrapper">
        <p id="description">Search for Customers</p>
        <br>

        <div class="input-group input-group">
            <input type="text" class="form-control" ng-model="userInput" placeholder="Enter query string.">
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-block" ng-click="getNumberOfCharacters()">Search</button>
        <div ng-show="noticeMessage" class="text-center jumbotron hello-result {{textClassName}}">{{noticeMessage}}</div>
        
        <table>
          <tr ng-repeat="customer in customerList">
            <td>{{customer["@CUSTOMERID"]}}</td>
            <td>{{customer["@CUSTNAME"]}}</td>
          </tr>
        </table>
    </div>
    <a href="#/create">Create Customer</a>
</section>

<fhfooter></fhfooter>